.drag-drop-field
	size: 716px 131px
	max-width: 100%
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	flex-direction: column
	border: 1px dashed #BDD1E2

	&__img
		margin: 0 0 6px

		img
			display: block

	&__text
		font-size: 12px
		line-height: 15px
		color: #CBDEEE