.footer
	background: #ffffff
	box-shadow: var(--default-shadow)
	padding: em(40) 0
	margin: 40px 0 0

	&__wrap
		display: flex 
		align-items: center
		justify-content: space-between

.dev
	display: block

	img
		display: iherit

.copy
	color: #666
	line-height: em(20)

@media (max-width: 1400px)
	.footer
		padding: 15px 0
		margin: 30px 0 0


@media (max-width: 660px)
	.footer

		&__dev
			display: none

		&__copy
			text-align: center
			width: 100%