header.head
	.wrapper
		.head__wrap
			.head__logo
				a.logo(href="#")
					img(src="img/logo.svg")
			//- nav.head__menu
				ul.h-menu
					each item in ["Главная", "Сотрудники", ]
						li
							a.h-menu__link(href="#")=item
			.head__btns
				.h-btns
					//- .h-btns__item
						a.default-btn.default-btn--bordered.fancybox(href="#add-user")
							include ../../img/ico-add-user.svg
							span.default-btn__text Добавить сотрудника
					.h-btns__item
						.default-input
							select.default-input__input.default-input__input--select
								option(value="0") Комсомольский, 47
								option(value="1") Комсомольский, 47
								option(value="2") Комсомольский, 47
								option(value="3") Комсомольский, 47
								option(value="4") Комсомольский, 47
					.h-btns__item
						a.default-btn.default-btn--bordered(href="#")
							include ../../img/ico-report.svg
							span.default-btn__text Просмотреть отчёт
					.h-btns__item
						a.default-btn.fancybox(href="#log-in")
							include ../../img/ico-sign-in.svg
							span.default-btn__text Войти