// @import "profile.sss"
@import "camera.sss"
@import "filters-time.sss"

.last-seen
	display: flex

	&__profile, &__camera
		display: flex
		flex-direction: column

	&__profile
		flex: none
		width: 674px
		margin-right: 20px

	&__camera
		flex: 1 1 auto

@media (max-width: 1400px)
	.last-seen
		flex-direction: column-reverse

		&__profile
			width: 100%
			margin: 30px 0 0